$blue: #3190e8;
$bc: #e4e4e4;
$f: #fff;
$dominantColor: #ff5f16;

//背景图片的地址，大小
@mixin backgroundImg($url){
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

//border圆角,并且兼容各自的浏览器
@mixin borderRadius($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

//定位全屏
@mixin allCover{
    position: absolute;
    top: 0;
    right: 0;
}

//定位上下左右居中
@mixin center{
    position: absolute;
    top : 50%;
    left :50%;
    transform: translate(-50%, -50%);
}
//定位上下居中
@mixin tb{
    position: absolute;
    top : 50%;
    transform: translateY(-50%)
}
//定位左右居中
@mixin lr{
    position: absolute;
    left : 50%;
    transform: translateX(-50%);
}
// flex居中
@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

//宽高
@mixin wh($width,$height){
    width: $width;
    height:$height;
}

//字体大小颜色
@mixin font($size, $color){
    font-size: $size;
    color : $color;
}